<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Certificate Generator</title>
</head>
<body>
    <div class="container" >
        <h1>Certificate Generator</h1>
        <label>
            Name:
            <input id="name" type='text'>
        </label>
        <label>
            Course:
            <input id="course" type='text'>
        </label>
        <label>
            Certificateid:
            <input id="certificateId" type='text'>
        </label>
        <a href="#" id="download-btn">Download</a>
        <center><canvas id="canvas" height="600vh" width="900vh"></canvas></center>
    </div>
    <script src="script.js"></script>
</body>

</html>