<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register CGV</title>
  </head>
  <body>
    <table
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="
        color: #333;
        background: #fff;
        padding: 0;
        margin: 0;
        width: 100%;
        font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;
      "
    >
      <tbody>
        <tr width="100%">
          <td
            valign="top"
            align="left"
            style="
              background: #eef0f1;
              font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;
            "
          >
            <table
              style="
                border: none;
                padding: 0 18px;
                margin: 50px auto;
                width: 500px;
              "
            >
              <tbody>
                <tr width="100%" height="60">
                  <td
                    valign="top"
                    align="left"
                    style="
                      border-top-left-radius: 4px;
                      border-top-right-radius: 4px;
                      background: white;
                      padding: 10px 18px;
                      text-align: center;
                    "
                  >
                    <img
                      height="75"
                      width="75"
                      src="https://cdn.discordapp.com/attachments/708550144827719811/792008916451328010/android-chrome-512x512.png"
                      title="CGV"
                      style="
                        font-weight: bold;
                        font-size: 18px;
                        color: #fff;
                        vertical-align: top;
                      "
                      class="CToWUd"
                    />
                  </td>
                </tr>
                <tr width="100%">
                  <td
                    valign="top"
                    align="left"
                    style="background: #fff; padding: 18px"
                  >
                    <h1
                      style="
                        font-size: 20px;
                        margin: 16px 0;
                        color: #333;
                        text-align: center;
                      "
                    >
                      India’s Largest Online Verification Network
                    </h1>
                    <p
                      style="
                        font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;
                        color: #333;
                        text-align: center;
                      "
                    >
                      Hey, {{name}}
                    </p>
                    <div style="background: #f6f7f8; border-radius: 3px">
                      <br />
                      <p
                        style="
                          font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                            'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        "
                      >
                        We get it, stuff happens. Please use the link below to
                        reset your password.
                      </p>
                      <p
                        style="
                          font: 15px/1.25em 'Helvetica Neue', Arial, Helvetica;
                          margin-bottom: 0;
                          text-align: center;
                        "
                      >
                        <a
                          href="{{link}}"
                          style="
                            border-radius: 3px;
                            background: #3aa54c;
                            color: #fff;
                            display: block;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 1.25em;
                            margin: 24px auto 6px;
                            padding: 10px 18px;
                            text-decoration: none;
                            width: 180px;
                          "
                          target="_blank"
                          >Reset Password Now!</a
                        >
                      </p>
                      <br /><br />
                    </div>
                    <p
                      style="
                        font: 14px/1.25em 'Helvetica Neue', Arial, Helvetica;
                        color: #333;
                      "
                    >
                      <strong>What's CGV?</strong> We generate and verify
                      certificates online which also includes a backend
                      dashboard. Click to know more.
                      <a
                        href="https://cgvcertify.herokuapp.com"
                        style="
                          color: #306f9c;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >Learn more »</a
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
