{% extends "layout.html" %}
{% block body %}
                <!-- Begin Page Content -->
    <div class="d-flex justify-content-center">
                       <center> <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold; padding-bottom: 10px">User Details</h1></center>
                    </div>
                <div class="d-flex justify-content-center">
                <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: center">
                    <form name="sentMessage" id="contactForm" action="{{id}}" method="post" >
                    
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{ post.name }}" required/>
                  <div class="validate"></div>
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" value="{{ post.email }}" required />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="phone" placeholder="Password" data-rule="minlen:4" data-msg="Please enter your contact number" required/>
                  <div class="validate"></div>
                </div>
                    <div class="form-group">
                  <label class="radio-inline">
                  <input type="radio" name="status" value="1" checked>Activate
                </label>
                <label class="radio-inline">
                  <input type="radio" name="status" value="0">Deactivate
                </label>
                </div>
                 <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Organization</label>
                      </div>
                      <select class="custom-select" id="inputGroupSelect01" name="orgid" >
                        <option selected >Choose...</option>
                     {% for posto in posto %}
                        <option value="{{ posto.id }}">{{ posto.name }}</option>
                          {% endfor %}
                      </select>
                    </div>
               <div class="text-center"><button class="btn btn-success" type="submit" title="Send Message"><i class="far fa-thumbs-up"></i> Submit</button></div>
              </form>
                     <div style="padding-top: 10px"><center><a href="/view/users" class="btn btn-primary btn-circle ">
                                        <i class="fas fa-backward"></i>
                                    </a></center></div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                    {% if errors %}
                    {% for error in errors %}
                    <script>
                        new Notify ({
                        title: 'Error',
                        text: `{{error|safe}}`,
                        status: 'error'
                        })
                    </script>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                        new Notify ({
                            title: 'Success',
                            text: `{{message|safe}}`,
                            status: 'success'
                            })
                        </script>                      
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
{% endblock %}