{% extends "layout.html" %}
{% block body %}
 <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="405">405</div>
                        <p class="lead text-gray-800 mb-5">You don't have access to view this page.</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        <a href="/dashboard">&larr; Back to Dashboard</a>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}