<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/certificate.css')}}">

    <title>Certificate: {{ postc.number}}</title>
  </head>
  <body>
    <div class="container">
        <div class="bgimage">
            <div class="Leftcorner">
                <img src="https://i.imgur.com/b6K4QTl.png" alt="">
            </div>      
            <div class="rightcorner">
                <img src="https://i.imgur.com/nvngFDs.png" alt="">
            </div>  
        </div>
        <div class="content">
            <h1>CERTIFICATE OF TRAINING</h1>
            <div class="underline">
                <p>{{ postc.name }}</p>
            </div>
            <p style="font-family: 'Montserrat';font-style: italic;font-weight: bold;text-align: center;color:#252F5F;">has been certified at <span>{{ postc.last_update }}</span> <br>
                while completing the training course entitled</p>  <!--replace the Thu Mar 09:43:09 2021 with updated time -->
            <div class="underline">
                <p>{{ postc.coursename}}</p>
            </div>
            <div class="content-footer">
                <div class="QrCode">
                    <img src="{{ qr_code }}" alt="">
                    <p>ID:#{{ postc.number}}</p>
                </div>
                <div class="signline">
                    <img src="https://i.imgur.com/BJL4JVt.png" alt="">
                    <p>{{ posto.subname }}</p>
                </div>    
            </div>
            </div>
            
        </div>    
    </div>
    <br><div><center>
  {% if not pdf %}
<a href="{{download_url}}"><button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span> Download Certificate</button></a><br>
<br>
<a href="https://www.addtoany.com/share#url=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;title=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/a2a.svg" width="32" height="32" style="background-color:#4169e1"></a>
<a href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="32" height="32" style="background-color:#4169e1"></a>
<a href="https://www.addtoany.com/add_to/linkedin?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/linkedin.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/email?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/email.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/google_gmail?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/gmail.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/telegram?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/telegram.svg" width="32" height="32" style="background-color:royalblue"></a>
<a href="https://www.addtoany.com/add_to/copy_link?linkurl=https%3A%2F%2F{{ site_url }}/certify/{{ postc.number }}&amp;linkname=CGV%20Website" target="_blank"><img src="https://static.addtoany.com/buttons/link.svg" width="32" height="32" style="background-color:royalblue"></a>
</center></div>
<!-- AddToAny END -->

  {% endif %}
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>