{% extends "layout.html" %}
{% block body %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                <div style="padding: 5px">

                </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                          {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                         {{ message}}
                        </div>
                        {% endfor %}
                       {% endif %}
                      {% endwith %}
                        <a class="btn btn-primary btn-icon-split" id="add_certificate" onclick="addCertificate({{grp_id}})" style="cursor: pointer">
                                        <span class="icon text-white-50">
                                           <i class="fa fa-plus" aria-hidden="true"></i>
                                        </span>
                                        <span class="text">Add Certificate</span>
                  </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Number</th>
                                            <th>Course Name</th>
                                            <th>Date</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{#                                    Start loop#}
{% for post in post %}
                                        <tr>
                                            <td>{{ post.id}}</td>
                                            <td>{{ post.name}}</td>
                                            <td>{{ post.number }}</td>
                                            <td>{{ post.coursename }}</td>
                                            <td>{{ post.last_update }}</td>
                                            <td><a onclick="editCertificate('{{grp_id}}','{{post.id}}')" class="btn btn-success btn-circle" id="edit_certificate" style="cursor: pointer"><i class="fas fa-edit"></i></a></td>
                                            <td><a href="/delete/{{ grp_id }}/certificates/{{ post.id }}" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a></td>
                                        </tr>

{#                                    end loop#}
{% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            {% endblock %}