<!DOCTYPE html>
<html lang="en">
<head>

  <title>{{ favTitle }}</title>
  <meta name="description" content="Resulthost.in is an online result hosting company. We power various schools, colleges & educational institutions to host & display student results, online generation of marksheet & certificate verification.">
  <meta name="keywords" content="result hosting, online result, online result hosting, download result, print result, online certificate verification">
  <meta charset="utf-8">
       <!-- Favicons -->
  <link href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}" rel="apple-touch-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/simple-notify.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/simple-notify.min.js') }}"></script>

  <style>

    body{
      font-family: 'Source Serif Pro', serif;
      background: linear-gradient(to bottom, #66ffff 0%, #99ff99 100%);
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .des_logo{
      font-size: 30px;
      padding-top: 30px;
      text-align: center;
    }

    .footer{
      font-size: 16px;
      padding-top: 120px;
    }

  </style>

</head>

<body>

<div class="container">

  <br>
  <div class="row">

{#      <img class="img-responsive center-block" src="images/logo.png" alt="" height="80" width="80">#}

      <p class="des_logo">India’s largest Online Verification Network</p>
      <p class="text-center lead">Online Certificate Generation</p>

  <br><br><br><br><br>

  <div class="text-center">

    <div class="col-sm-3">


    </div>

    <div class="col-sm-6">

        <form class="form-inline" action="/certificate/generate" method="post">
    <div class="form-group">
    <input type="text" class="form-control input-lg" name="certificateno" placeholder="Certificate Number" required>
    </div>
    &nbsp;&nbsp;
    <button type="submit" name="submit" class="btn btn-primary btn-lg">View</button>

            <br>
            <br>
  </form>

    </div>

    <div class="col-sm-3">


    </div>

  </div>

  <br><br><br><br>

<div class="row">
<div class="col-sm-12">
    <p></p>
    <p></p>
  </div>
</div>
<div class="row">
   <div class="col align-self-center">



      </div></div>

<p class="text-center footer"> Online Certificate Generation System <br> Powered by - <a style="text-decoration:none;" href="https://cgv.in.net/">CGV</a>
<br> IP Address : {{ ip }}</p>
</div>
</div>
  {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                    {% if errors %}
                    {% for error in errors %}
                    <script>
                        new Notify ({
                        title: 'Error',
                        text: `{{error|safe}}`,
                        status: 'error'
                        })
                    </script>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                        new Notify ({
                            title: 'Success',
                            text: `{{message|safe}}`,
                            status: 'success'
                            })
                        </script>                      
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
</body>

</html>