{% extends "base.html" %}
{% block css %}
.switch{
  position:relative;
  z-index: 100;
  top:1.2rem;
  right:-1.7rem;

}
#darkmodeid
{
  padding-top:0px;
  margin-top:0px;
}

{% endblock css %}


{% block body %}
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

     <!-- <h1 class="logo mr-auto"><a href="index.html">CGV.IN.NET</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo mr-auto"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="img-fluid"></a>

      <nav class="main-nav d-none d-lg-block dark">
        <ul>
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="#why-us">ABOUT US</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#team">TEAM</a></li>
<!--           <li><a href="#pricing">PRICING</a></li> -->
          <li><a href="#footer">CONTACT US</a></li>
          <li><a href="https://meetly.tawk.help/">HELPDESK</a></li>
          {% if current_user.is_authenticated %}
                  <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.name }}
                                <img class="img-profile rounded-circle" src="{{ user.profile_image }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu "
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/dashboard" style="color:black">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Dashboard
                                </a>
                                <a class="dropdown-item" href="#" style="color:black" onclick="confirmation()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
          {% else %}

          <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</a></li>
          {% endif %}
          <li id="darkmodeid"> <!-- dark mode toggle -->
          <input type="checkbox" id="toggle" name="checkbox" class="switch" onclick="myfun()">
          <!-- dark mode toggle end --></li>
        </ul>
      </nav><!-- .main-nav-->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
         <h2 ><span>India’s </span>largest online verification network</h2>
          <div>
            <a href="#why-us" class="btn-get-started scrollto">Get Started</a>
            <a href="#footer" class="btn-get-started scrollto" style="margin-top: 5px;">Contact Us</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='images/intro-img.svg') }}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">
 <!-- ======= Why Us Section ======= -->
 <section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>Why choose us?</h3>
      <p>To us, it's not just work - we take pride in the solutions we deliver.</p>
    </header>

    <div class="row">

      <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="why-us-img">
          <img src="{{ url_for('static', filename='images/why-us.png') }}" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="why-us-content">
          <p>A verified certificate can provide proof for an employer, school, or other institution that you have successfully completed an online course. Verified certificates require you to verify your identity using a webcam and a photo identification card, so employers and schools know that you completed the course work.</p>
          <p>Sometimes you want to take a course just for the sheer joy of learning something new. But sometimes you need to complete a course for a better job, a promotion, or a college application.</p>
          <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
            <i class="fa fa-diamond" style="color: #f058dc;"></i>
            <h4>Build skills and your career</h4>
            <p>Impress your employer with a verified certificate that documents your learning.</p>
          </div>

          <div class="features clearfix" data-aos="fade-up" data-aos-delay="200">
            <i class="fa fa-object-group" style="color: #ffb774;"></i>
            <h4>Challenge yourself</h4>
            <p>Sometimes we all need that extra push. Working towards a certificate keeps you motivated.</p>
          </div>

          <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
            <i class="fa fa-language" style="color: #589af1;"></i>
            <h4>Share it with the world</h4>
            <p>Share your verified certificate with others securely through a dedicated link that we provide.</p>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p>Click the links below to either generate certificates or verify certificates.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-6 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background:white;"><span class="iconify" data-icon="ion:ribbon" data-inline="false" data-width="50" data-height="50" style="color: #e98e06;"></span></i></div>
              <h4 class="title"><a href="/certificate/generate">Generate Certificate</a></h4>
              <p class="description">Please type your certificate number to generate certificate only if your details is present in our database or else contact your organization.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background:white;"><span class="iconify" data-icon="ion:checkmark-done" data-inline="false" data-width="50" data-height="50" style="color: #f058dc;"></span></div>
              <h4 class="title"><a href="/certificate/verify">Verify Certificate</a></h4>
              <p class="description">Please type your certificate number to verify certificate only if your details is present in our database or else contact your organization.</p>
            </div>
          </div>
      </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text">We are 24x7 available at your comfort-zone. First time you can contact us via contact form. Customers can contact us via customer dashboard.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#footer">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!--  End Call To Action Section -->


          <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Mentors</h3>
          <p>Our Mentor team include experienced tech experts</p>
        </div>

        <div class="row d-flex justify-content-center">


          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{{ url_for('static', filename='images/Vignesh.jpg') }}" class="img-fluid" alt="Vignesh Shetty">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vignesh Shetty</h4>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/vigneshshettyin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/vigneshshettyin"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="https://avatars.githubusercontent.com/u/47353498?s=400&u=d98f79a2c736e40429b6ed715a0d10d62ed7dbff&v=4" class="img-fluid" alt="Ashutosh Krishna">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>AShutosh Krishna</h4>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/ashutoshkrris/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/ashutoshkrris"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <!-- <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="https://avatars.githubusercontent.com/u/58786336?s=400&u=01556e4b364b6b36bd31e5c2b24c9823c24cf9e6&v=4" class="img-fluid" alt="Vignesh Shetty">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Saloni Gupta</h4>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/saloni-gupta-452031159/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/shades-7"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
                <img src="https://cdn.discordapp.com/attachments/708550144827719811/819270608687726612/divakar.jpg" class="img-fluid" alt="Vignesh Shetty" width="400" height="400">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Divakar R</h4>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/divakar-r-9b34b86b/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/rexdivakar"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Team Section -->




          <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header pb-3">
          <h3>Contributors</h3>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="owl-carousel contributors-carousel">
          {% for t,d in team.items() %}

          <div class="px-2 py-2" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{{ d.image }}" class="img-fluid" alt="#">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{d.name}}</h4>
                  <div class="social">
                    <a href="https://github.com/{{d.username}}"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          </div>


        </div>

      </div>
    </section><!-- End Team Section -->



    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Technologies Used</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{{ url_for('static', filename='images/1.png') }}" alt="">
          <a href="https://www.mysql.com/"><img src="{{ url_for('static', filename='images/2.png') }}" alt=""></a>
          <a href="https://github.com/"><img src="{{ url_for('static', filename='images/3.png') }}" alt=""></a>
          <a href="https://www.json.org/json-en.html"><img src="{{ url_for('static', filename='images/4.png') }}" alt=""></a>
          <a href="https://www.heroku.com/"><img src="{{ url_for('static', filename='images/5.png') }}" alt=""></a>
          <img src="{{ url_for('static', filename='images/6.png') }}" alt="">
          <img src="{{ url_for('static', filename='images/7.png') }}" alt="">
          <a href="https://www.w3.org/Style/CSS/Overview.en.html"><img src="{{ url_for('static', filename='images/8.png') }}" alt=""></a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"><img src="{{ url_for('static', filename='images/9.png') }}" alt=""></a>
          <a href="https://www.python.org/doc/><img src="{{ url_for('static', filename='images/10.png') }}" alt=""></a>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- Pay Modal Start -->
    <div class="modal fade" id="modalPayment" tabindex="-1" style="margin-top: 170px;" role="dialog" aria-labelledby="modalPaymentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPaymentLabel"><strong>Payment Information</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form">
          <form action="/pay" id="paymentForm" aria-label="" method="post" role="form" >
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" required/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" required/>
            </div>
            <div class="form-group">
              <input type="phone" class="form-control" name="phone" id="phone" placeholder="Phone" data-rule="minlen:4" required/>
            </div>
            <div class="form-group">
              <label for="plan">Plan Name</label>
              <input type="text" name="plan" class="form-control" id="plan" placeholder="Your Plan" required readonly/>
            </div>

            <div class="text-center mt-3">
              <button style="background-color: #F9A826; border-color: #F9A826;" class="btn btn-primary" type="submit" title="Pay with Razorpay" id="cnfPay">Pay with Razorpay</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Pay Modal End -->

    <section id="projectdemo" class="pricing section-bg wow fadeInUp">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Project Demo</h3>
          <p>Get to know about our company, dashboard working & services provided at our company one stretch.</p>
        </header>
          <div class="video-responsive">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/h3VKpZDOVqw" frameborder="0" allowfullscreen></iframe>
</div>
        </div>
        </section>
  </main><!-- End #main -->



<div style="padding: 20px;">
  <center><button type="button" class="btn btn-primary btn-lg" id="feedback" onclick="getFeedback()">Submit Feedback</button></center>
</div>

{% endblock %}
