<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="title" content="CGV : Online Certificate Verification System" />
    <meta
      name="description"
      content="A Startup Company based in India, that offers Full-Stack Web Development, User Interface Design, etc at a very reasonable cost. Contact us at contact@vigneshshetty.in"
    />

    <title>Dashboard : {{ favTitle }}</title>

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"
      rel="apple-touch-icon"
    />

    <!-- include summernote css/js -->
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
      rel="stylesheet"
    />

    <!-- include sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Custom fonts for this template-->
    <link
      href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{ url_for('static', filename='css/sb-admin-2.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/simple-notify.min.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/simple-notify.min.js') }}"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/darkmode.css') }}"
    />
    <style>
      .topnav {
        margin-right: 5vw;
      }
      .sticky-footer {
        background-color: #fff;
      }
      .switch {
        top: 2rem;
      }
      .username {
        color: gray;
      }

      .dark-mode .maincontent,
      .dark-mode #content,
      .dark-mode .sticky-footer,
      .dark-mode .navbar,
      .dark-mode .username,
      .dark-mode .swal2-popup,
      .dark-mode .swal2-title {
        background-color: black;
        color: #fff;
      }
      .dark-mode .card-body .no-gutters,
      #dataTable_wrapper {
        background: #fff !important;
      }
      /* On screens that are 992px or less, set the background color to blue */
      @media screen and (max-width: 992px) {
        .navbar-expand .navbar-nav {
          margin-right: 20vw;
        }
        .topbar.navbar-light .navbar-nav .nav-item .nav-link {
          padding: 2px;
        }
      }
    </style>
  </head>

  <body id="page-top">
    <!-- dark mode toggle -->
    <input
      type="checkbox"
      id="toggle"
      name="checkbox"
      class="switch"
      onclick="myfun()"
    />
    <!-- dark mode toggle end -->
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/dashboard"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="sidebar-brand-text mx-3">DASHBOARD</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>DASHBOARD</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />
        <!-- Nav Item - Charts -->

        {% if current_user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="/view/users">
            <i class="fas fa-users"></i>
            <span>USERS</span></a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-sitemap"></i>
            <span>GROUPS</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/view/groups">LIST GROUPS</a>
              <a class="collapse-item" id="add_group" style="cursor: pointer"
                >ADD GROUP</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('view_all_public_api_keys')}}">
            <i class="fas fa-key"></i>
            <span>PUBLIC API KEYS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('view_all_private_api_keys')}}">
            <i class="fas fa-key"></i>
            <span>PRIVATE API KEYS</span>
          </a>
        </li>

        <!-- Nav Item - Tables -->

        <!-- Nav Item - Tables -->
        {% if current_user.is_staff %}

        <li class="nav-item">
          <a class="nav-link" href="/view/fonts">
            <i class="fa fa-font"></i>
            <span>FONTS</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/contacts">
            <i class="fas fa-id-card-alt"></i>
            <span>CONTACT</span></a
          >
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="/view/feedbacks">
            <i class="far fa-comments"></i>
            <span>FEEDBACK</span></a
          >
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="/view/newsletters">
            <i class="fas fa-newspaper"></i>
            <span>NEWSLETTER</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/view/transactions">
            <i class="fas fa-money-bill-alt"></i>
            <span>TRANSACTIONS</span></a
          >
        </li>

        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              topbar
              mb-4
              static-top
              shadow
            "
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="
                d-none d-sm-inline-block
                form-inline
                mr-auto
                ml-md-3
                my-2 my-md-0
                mw-100
                navbar-search
              "
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto topnav">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    p-3
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div
                  class="
                    dropdown-list dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="alertsDropdown"
                >
                  <h6 class="dropdown-header">Alerts Center</h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span class="font-weight-bold"
                        >A new monthly report is ready to download!</span
                      >
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                      Spending Alert: We've noticed unusually high spending for
                      your account.
                    </div>
                  </a>
                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Show All Alerts</a
                  >
                </div>
              </li>

              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="messagesDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-envelope fa-fw"></i>
                  <!-- Counter - Messages -->
                  <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="
                    dropdown-list dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="messagesDropdown"
                >
                  <h6 class="dropdown-header">Message Center</h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img
                        class="rounded-circle"
                        src="https://picsum.photos/200"
                        alt=""
                      />
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate">
                        Hi there! I am wondering if you can help me with a
                        problem I've been having.
                      </div>
                      <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img
                        class="rounded-circle"
                        src="https://picsum.photos/200"
                        alt=""
                      />
                      <div class="status-indicator"></div>
                    </div>
                    <div>
                      <div class="text-truncate">
                        I have the photos that you ordered last month, how would
                        you like them sent to you?
                      </div>
                      <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img
                        class="rounded-circle"
                        src="https://picsum.photos/200"
                        alt=""
                      />
                      <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                      <div class="text-truncate">
                        Last month's report looks great, I am very happy with
                        the progress so far, keep up the good work!
                      </div>
                      <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img
                        class="rounded-circle"
                        src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                        alt=""
                      />
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                      <div class="text-truncate">
                        Am I a good boy? The reason I ask is because someone
                        told me that people say this to all dogs, even if they
                        aren't good...
                      </div>
                      <div class="small text-gray-500">
                        Chicken the Dog · 2w
                      </div>
                    </div>
                  </a>
                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Read More Messages</a
                  >
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline username small"
                    >{{ user.name }}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="{{ user.profile_image }}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    onclick="editProfile()"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    onclick="confirmation()"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          {% block body %} {% endblock %}
        </div>
        <!-- End of Main Content -->
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>
                Made with <i class="fa fa-heart" style="color: red"></i> in
                <strong>CGV</strong></span
              >
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="{{ url_for('static', filename='js/modals.js') }}"></script>
    <script>
      $(document).ready(function () {
        $("#summernote").summernote();
      });
    </script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function confirmation() {
        swal({
          title: "Are you sure?",
          text: "",
          icon: "warning",
          buttons: true,
          buttons: ["cancel", "Yes, Log out"],
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            window.location = "/logout";
          } else {
          }
        });
      }
    </script>
    <script>
      async function editProfile() {
        await Swal.fire({
          title: "Edit Your Profile",
          imageUrl: "{{user.profile_image}}",
          imageWidth: 150,
          imageHeight: 150,
          imageAlt: "Profile Image",
          html:
            '<input type="file" name="profile_pic" class="swal2-file" id="profile_pic" accept="image/*">' +
            '<input type="text" id="name" class="swal2-input" placeholder="Your Name" value="{{user.name}}">' +
            '<input type="email" id="email" class="swal2-input" placeholder="Your Email", value={{user.email}} disabled>',
          confirmButtonText: `Save`,
          showCancelButton: true,
          preConfirm: () => {
            const name = Swal.getPopup().querySelector("#name").value;
            const profile_pic =
              Swal.getPopup().querySelector("#profile_pic").value;

            $("#profile_pic").change(function () {
              var reader = new FileReader();
              reader.readAsDataURL(this.files[0]);
            });

            return {
              name: name,
            };
          },
        }).then((result) => {
          if (result.value) {
            console.log(result.value);
            var formData = new FormData();
            var profile_pic = $("#profile_pic")[0].files[0];
            formData.append("profile_pic", profile_pic);
            formData.append("name", result.value.name);
            $.ajax({
              method: "post",
              url: `/{{user.id}}/profile/edit`,
              data: formData,
              processData: false,
              contentType: false,
              success: function (resp) {
                new Notify({
                  title: "Success",
                  text: `Profile has been updated successfully!`,
                  status: "success",
                });
                window.location.reload();
              },
              error: function (resp) {
                new Notify({
                  title: "Error",
                  text: `Sorry, we encountered an error while updating your profile.`,
                  status: "error",
                });
              },
            });
          }
        });
      }
    </script>
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2716822,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  </body>
</html>
