{% extends "layout.html" %} {% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <div style="padding: 5px"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a
        class="btn btn-success btn-icon-split mb-2"
        id="gen_api"
        onclick="generateAPI()"
        style="cursor: pointer"
      >
        <span class="icon text-white-50">
          <i class="fa fa-key" aria-hidden="true"></i>
        </span>
        <span class="text">Generate API</span>
      </a>
      <a
        class="btn btn-primary btn-icon-split float-right"
        id="api_doc"
        style="cursor: pointer"
        href="https://documenter.getpostman.com/view/12174054/TzY1jHWp"
        target="_blank"
      >
        <span class="icon text-white-50">
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
        </span>
        <span class="text">Test API</span>
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <th>#</th>
            <th>API KEY</th>
            <th>Group</th>
            <th>Usage Left</th>
            <th>Valid</th>
            <th>Date Generated</th>
          </thead>
          <tbody>
            {# Start loop#} {% for post in postc %}
            <tr>
              <td>{{ post.id}}</td>
              <td>{{ post.key}}</td>
              <td>{{ post.group_name}}</td>
              <td>{{ post.usage_limit}}</td>
              <td
                class="{{'bg-success' if post.is_valid else 'bg-danger'}} font-weight-bold text-white"
              >
                {{ post.is_valid }}
              </td>
              <td>{{ post.date_generated|truncate(19,true,"") }}</td>
            </tr>

            {# end loop#} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% with errors = get_flashed_messages(category_filter=["danger"]) %} {% if
errors %} {% for error in errors %}
<script>
  new Notify({
    title: "Error",
    text: `{{error|safe}}`,
    status: "error",
  });
</script>
{% endfor %} {% endif %} {% endwith %} {% with messages =
get_flashed_messages(category_filter=["success"]) %} {% if messages %} {% for
message in messages %}
<script>
  new Notify({
    title: "Success",
    text: `{{message|safe}}`,
    status: "success",
  });
</script>
{% endfor %} {% endif %} {% endwith %} {% endblock %}
