<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register : {{ json["favTitle"] }}</title>

    <meta name="title" content="CGV : Online Certificate Verification System">
	<meta name="description" content="A Startup Company based in India, that offers Full-Stack Web Development, User Interface Design, etc at a very reasonable cost. Contact us at contact@vigneshshetty.in">

          <!-- Favicons -->
  <link href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="static/css/darkmode.css">
    <style>
  .form-group
  {
      margin-bottom:0.4rem;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* css for toggle button ends */
  
  /*css for errror area*/
  .errorarea
  {
      height:13vh;
  }
  /* The message box is shown when the user clicks on the password field */
  #message {
    visibility:hidden;
  }
  
  #message p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }

  #message2 {
    visibility:hidden;
  }
  
  #message2 p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
  }
  .main
  {
      margin-top:11vh;
  }
  @media screen and (max-width: 990px)
  {
   
  #message2 {
    visibility:hidden;
    position: relative;
    top:-50px;
  }
  .main
  {
      margin-top:10vh;
  }    
  }
    </style>
</head>

<body class="bg-warning">
     <!-- dark mode toggle -->
  <input type="checkbox" id="toggle" name="checkbox" class="switch" onclick="myfun()">
    <div class="container px-2 main">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row px-3">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="py-2">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 my-3">Create an Account!</h1>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                          {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                         {{ message}}
                        </div>
                        {% endfor %}
                       {% endif %}
                      {% endwith %}
                            <form class="user" action="/register" method="post">
                                <div class="form-group">
                                        <input type="text" name="name" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" required>
                                    <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
                                </div>
                                <div class="form-group row" style="margin-bottom:10px;">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" name="password" id="psw" class="form-control form-control-user"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                        </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="password2" id="psw2" class="form-control form-control-user"
                                             placeholder="Repeat Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                    </div>
                                </div>
                                <div class="row px-1 errorarea">
                                    <div id="message" class="col col-lg-6 col-11">
                                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                        <p id="number" class="invalid">A <b>number</b></p>
                                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                        </div>
                                        <div id="message2" class="col col-lg-6 col-11">
                                            <p id="passwordmatch" class="invalid"> <b>Password</b>Matched</p>
                                        </div>    
                                </div>
                                <input type="submit" id="registerBtn" class="btn btn-warning btn-user btn-block" disabled>
                                <hr>
                                <a href="#" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" style="color: #ff9800;" href="/forgot">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" style="color: #ff9800;" href="/login">Already have an account? Login!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" style="color: #ff9800;" href="/resend-link/">Send Activation Link Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/register.js') }}"></script>
    
    <!-- js for dark mode -->
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
</body>

</html>