<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <title>Certificate Generator</title>
    <style>
        body {
            font-size: 100%;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background: linear-gradient(263.96deg, #D8A343 18.74%, #F3D16F 41.66%, #D39D3D 61.42%, #F5D170 81.6%, #C6892F 99.47%);

        }
        
        .wrapper {
            display: table;
            padding: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        
        .container {
            display: table-cell;
            vertical-align: middle;
        }
        
        .canvas-container {
            position: relative;
            max-width: 1024px;
            min-width: 320px;
            margin: 0 auto;
        }
        #canvas {
            width: 100%;
            height: auto;
            background-color:linear-gradient(263.96deg, #D8A343 18.74%, #F3D16F 41.66%, #D39D3D 61.42%, #F5D170 81.6%, #C6892F 99.47%);;
            z-index: 0;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 1);
        }
    </style>
</head>
<body>
    <div>
        <br>
    </div>
    <div class="wrapper">
        <div class="container">
          <div class="canvas-container">
            <form class="form" action="#">
                <div class="row">
                    <div class="col">
                        <label for="Name">Certificate Link:</label>
                        <input type="text" class="form-control" id="certificatelink">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="col">
                        <label for="Name-coordinates">X-coordinate for name:</label>
                        <input type="text" class="form-control" id="x-name">
                    </div>
                    <div class="col">
                        <label for="Name-coordinates">Y-Coordinate for name:</label>
                        <input type="text" class="form-control" id="y-name">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="pwd">Qr Code Link:</label>
                        <input type="url" class="form-control" id="QrCode" />
                    </div>
                    <div class="col">
                        <label for="QrCode-coordinates">X-coordinate for QrCode:</label>
                        <input type="text" class="form-control" id="x-qrcode">
                    </div>
                    <div class="col">
                        <label for="QrCode-coordinates">Y-Coordinate for QrCode:</label>
                        <input type="text" class="form-control" id="y-qrcode">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="pwd">Certificateid:</label>
                        <input type="text" class="form-control" id="certificateId">
                    </div>
                    <div class="col">
                        <label for="ID-coordinates">X-coordinate for ID:</label>
                        <input type="text" class="form-control" id="x-ID">
                    </div>
                    <div class="col">
                        <label for="ID-coordinates">Y-Coordinate for ID:</label>
                        <input type="text" class="form-control" id="y-ID">
                    </div>
                </div>
            </form>
            <br>
            <canvas id="canvas" height="768px" width="1080px"></canvas>
            <br>
            <center><a href="#" id="download-btn" class="btn btn-primary">Download</a></center>
            <br>
             <!-- use below for displaying the coordinates -->
            <!-- <center>
                <div class="Coordinates">
                    <em>click on anywhere to get the coordinates</em>
                    <h2 style="text-align:left;font-style: italic;">
                        X: <span id="x-value"></span>
                        Y: <span id="y-value"></span>
                    </h2>
                </div>
            </center> -->
          </div>
        </div>
      </div>
   
    <script type="text/javascript">
        const canvas = document.getElementById('canvas')
        const ctx = canvas.getContext('2d')
        const cetificateLinkInput = document.getElementById('certificatelink')
        const nameInput = document.getElementById('name')
        const XnameInput = document.getElementById('x-name')
        const YnameInput = document.getElementById('y-name')
        const certificateIdInput = document.getElementById('certificateId')
        const XcertificateIdInput = document.getElementById('x-ID')
        const YcertificateIdInput = document.getElementById('y-ID')
        const qrcodelinkInput = document.getElementById('QrCode')
        const XqrcodelinkInput = document.getElementById('x-qrcode')
        const YqrcodelinkInput = document.getElementById('y-qrcode')
        const downloadBtn = document.getElementById('download-btn')

        const image1 = new Image()
        // image1.src = 'https://res.cloudinary.com/vigneshshettyin/image/upload/v1622360509/zoy6pcfjkojyv4xkynsl.png'  //certificate cdn link :-> https://res.cloudinary.com/vigneshshettyin/image/upload/v1622360509/zoy6pcfjkojyv4xkynsl.png
        image1.setAttribute('crossorigin', 'anonymous');
        image1.onload = function () {
            drawImage()
        }


        const image2 = new Image()
        // image2.src = 'https://res.cloudinary.com/vigneshshettyin/image/upload/v1622353628/elguevuycepnlkf6qymh.png'
        image2.setAttribute('crossorigin', 'anonymous');
        image2.onload = function () {
            drawImage()
        }

        function drawImage() {
            // ctx.clearRect(0, 0, canvas.width, canvas.height)
            const link1 = cetificateLinkInput.value
            image1.src=link1
            ctx.drawImage(image1, 0, 0, canvas.width, canvas.height)
            const link2 = qrcodelinkInput.value
            image2.src=link2
            ctx.drawImage(image2, XqrcodelinkInput.value, YqrcodelinkInput.value, 130, 130)   //QrcodeLink
            ctx.font = 'normal 50px Poppins'
            ctx.fillStyle = '#F9920C'
            ctx.fillText(nameInput.value, XnameInput.value, YnameInput.value)  //nampeInput
            ctx.font = 'bolder 15px Calibri'
            ctx.fillStyle = '#000000'
            ctx.fillText('ID:#' + certificateIdInput.value, XcertificateIdInput.value, YcertificateIdInput.value)  //certificateID
        }


        cetificateLinkInput.addEventListener('input', function () {
            drawImage()
        })

        nameInput.addEventListener('input', function () {
            drawImage()
        })
        XnameInput.addEventListener('input', function () {
            drawImage()
        })
        YnameInput.addEventListener('input', function () {
            drawImage()
        })
        certificateIdInput.addEventListener('input', function () {
            drawImage()
        })
        XcertificateIdInput.addEventListener('input', function () {
            drawImage()
        })
        YcertificateIdInput.addEventListener('input', function () {
            drawImage()
        })
        qrcodelinkInput.addEventListener('input', function () {
            drawImage()
        })
        XqrcodelinkInput.addEventListener('input', function () {
            drawImage()
        })
        YqrcodelinkInput.addEventListener('input', function () {
            drawImage()
        })


        downloadBtn.addEventListener('click', function () {
            downloadBtn.href = canvas.toDataURL('image/png')
            downloadBtn.download = 'Certificate - ' + nameInput.value
        })

       // use below for checking the coordinates 
        // canvas.addEventListener("click", function (evt) {
        // var mousePos = getMousePosition(canvas, evt);
        // alert(mousePos.x + ',' + mousePos.y);
        // }, false);

        // function getMousePosition(canvas, event) {
        //     let rect = canvas.getBoundingClientRect();
        //     let x = event.clientX - rect.left;
        //     let y = event.clientY - rect.top;
        //     console.log("Coordinate x: " + x, 
        //                 "Coordinate y: " + y);
            
        //     document.getElementById('x-value').textContent = x;
        //     document.getElementById('y-value').textContent = y;
        //     return {
        //             x: event.clientX - rect.left,
        //             y: event.clientY - rect.top
        //         };
        // }
      
     
    </script>
    <!-- <script src="script.js"></script> -->
</body>

</html>